<div class="title">
  <div class="row align-items-center">
    <div class="col-6 col-sm-6">
      <h3>TIMELINE</h3>
    </div>
    <div class="col-6 col-sm-6" *ngIf="!spin_hidden">
      <div class="control-slider text-right">
        <a (click)="moveLeft()" class="btn-control prev" [attr.disabled]="left_spin_disable"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <a (click)="moveRight()" class="btn-control next" [attr.disabled]="right_spin_disable"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="timeline-table">
  <div class="table-responsive">
    <table class="table" *ngIf="month_list.length > 0">
      <thead>
        <tr>
          <th colspan="1" rowspan="2"></th>
          <th *ngFor="let year of year_keys" [attr.colspan]="years[year]">{{year}}</th>
        </tr>
        <tr>
          <th *ngFor="let month of month_list" [attr.colspan]="month.days" [ngStyle]="{'column-width': month.days * 10 + 'px'}">{{month.name.substring(5)}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="program">
          <td>PROGRAM</td>
          <td *ngFor="let program of showing_list" [attr.colspan]="program.days" [ngStyle]="{'column-width': program.days * 10 + 'px'}">
            <span class='pause' *ngIf="program.full_pause"></span>
            <div *ngIf="!program.space">{{program.program_name}}</div>
          </td>
        </tr>
        <tr>
          <td>Period</td>
          <td *ngFor="let program of showing_list" [attr.colspan]="program.days" [ngStyle]="{'column-width': program.days * 10 + 'px'}">
            <span class='pause' *ngIf="program.full_pause"></span>
            <div *ngIf="!program.space">{{program.period}}</div>
          </td>
        </tr>
        <tr>
          <td>Category</td>
          <td *ngFor="let program of showing_list" [attr.colspan]="program.days" [ngStyle]="{'column-width': program.days * 10 + 'px'}">
            <span class='pause' *ngIf="program.full_pause"></span>
            <div *ngIf="!program.space">{{program.category}}</div>
          </td>
        </tr>
        <tr>
          <td>BW change (kg)</td>
          <td *ngFor="let program of showing_list" [attr.colspan]="program.days" [ngStyle]="{'column-width': program.days * 10 + 'px'}">
            <span class='pause' *ngIf="program.full_pause"></span>
            <div *ngIf="!program.space">{{program.bw_change}}</div>
          </td>
        </tr>
        <tr>
          <td>W-H-R change</td>
          <td *ngFor="let program of showing_list" [attr.colspan]="program.days" [ngStyle]="{'column-width': program.days * 10 + 'px'}">
            <span class='pause' *ngIf="program.full_pause"></span>
            <div *ngIf="!program.space">{{program.whr_change}}</div>
          </td>
        </tr>
        <tr>
          <td>Sleep level</td>
          <td *ngFor="let program of showing_list" [attr.colspan]="program.days" [ngStyle]="{'column-width': program.days * 10 + 'px'}">
            <span class='pause' *ngIf="program.full_pause"></span>
            <span [class]="program.sleep_level" *ngIf="!program.space"></span>
          </td>
        </tr>
        <tr>
          <td>Stress level</td>
          <td *ngFor="let program of showing_list" [attr.colspan]="program.days" [ngStyle]="{'column-width': program.days * 10 + 'px'}">
            <span class='pause' *ngIf="program.full_pause"></span>
            <span [class]="program.stress_level" *ngIf="!program.space"></span>
          </td>
        </tr>
        <tr>
          <td>Energy level</td>
          <td *ngFor="let program of showing_list" [attr.colspan]="program.days" [ngStyle]="{'column-width': program.days * 10 + 'px'}">
            <span class='pause' *ngIf="program.full_pause"></span>
            <span [class]="program.energy_level" *ngIf="!program.space"></span>
          </td>
        </tr>
        <tr>
          <ng-container *ngIf="!from_other_profile">
            <td></td>
            <td *ngFor="let program of showing_list" [attr.colspan]="program.days" [ngStyle]="{'column-width': program.days * 10 + 'px'}">
              <a (click)="addPT(program.calendar_id)" *ngIf="!program.space && program.trainer_name == null"><span>+</span>Add PT</a>
              <a (click)="removePT(program.calendar_id)" *ngIf="!program.space && program.trainer_name != null"><span>-</span>{{program.trainer_name}}</a>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <div class="conventions">
      <p class="pause">
          <span></span> Pause > 1 month
      </p>
      <p class="good">
          <span></span> Good
      </p>
      <p class="ok">
          <span></span> OK
      </p>
      <p class="need-improvement">
          <span></span> Need improvement
      </p>
      <p class="add-trainer" *ngIf="!from_other_profile">
          <span>+</span> Add your personal trainer
      </p>
    </div>
  </div>
</div>
