<div class="title" name="calender_workout_log" id="training-calendar" >
    <div class="row align-items-center">
        <div class="col-12 col-sm-6">
        <h3>CALENDAR & WORKOUT LOG</h3>
        </div>
        <div class="col-12 col-sm-6">
            <div class="control-slider">
                <p><span class="text-uppercase">{{cur_month_year}}</span></p>
                <a (click)="this.prevMonth()" class="btn-control prev"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                <a (click)="this.nextMonth()" class="btn-control next"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- <div class="col-12 col-sm-1">
            <a href="" class="edit"><img src="/assets/images/icons/icon-pencil.svg" class="img-fluid" alt=""></a>
        </div> -->
    </div>
</div>
<div class="responsive-calendar desktop" *showItDevice="['tablet','desktop']">

    <div class="conventions">
      <p class="move-button" *ngIf="!from_other_profile">To Prev Week
        <a (click)="this.toPrevWeek()" [class]="!isMovableToPrevWeek ? 'not-movable' : ''"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
      </p>
      <p class="test"><span></span>Test Sessions</p>
      <p class="completed"><span></span>Completed Sessions</p>
      <p class="missed"><span></span>Missed Sessions</p>
      <p class="today"><span></span>Today</p>
      <p class="upcoming"><span></span>Upcoming Sessions</p>
      <p class="move-button" *ngIf="!from_other_profile"><a (click)="this.toNextWeek()" [class]="!isMovableToNextWeek ? 'not-movable' : ''"><i class="fa fa-angle-down" aria-hidden="true"></i></a>To Next Week</p>
    </div>

    <div class="calendar">
        <div class="week-days">
          <div class="col">Monday</div>
          <div class="col">Tuesday</div>
          <div class="col">Wednesday</div>
          <div class="col">Thursday</div>
          <div class="col">Friday</div>
          <div class="col">Saturday</div>
          <div class="col">Sunday</div>
        </div>
        <div class="wrapper-weeks">
          <div *ngFor="let week_data of weeks_data; let i=index" class="week">
            <ng-container *ngFor="let day_data of week_data; let j=index">
              <div *ngIf="day_data.isCurMonth"
                  [class]="day_data.bodyParts == '' ? 'day'
                            : day_data.status == 'upcoming' ? day_data.testSession ? 'day test upcoming' : 'day upcoming'
                            : day_data.status == 'missed' ? (day_data.isToday ? 'day missed today' : day_data.testSession ? 'day test missed' : 'day missed')
                            : day_data.isToday ? 'day completed today' : 'day completed' ">
                <div>
                  <span class="time">{{day_data.date}}</span>
                  <b>{{day_data.bodyParts}}</b>
                  <p *ngIf="day_data.bodyParts != ''">{{day_data.program}}</p>
                </div>
                <a class="show-btn" *ngIf="day_data.bodyParts != ''" (click)="showWorkoutModal(day_data)"><img src="assets/images/icons/eye.png"></a>
              </div>
              <div *ngIf="!day_data.isCurMonth" class="day none"></div>
            </ng-container>

          </div>
        </div>
    </div>
</div>

<div class="responsive-calendar mobile" *showItDevice="['mobile']">
  <div class="conventions" *ngIf="!from_other_profile">
    <p>To Prev Week<a (click)="this.toPrevWeek()" [class]="!isMovableToPrevWeek ? 'not-movable' : ''"><i class="fa fa-angle-up" aria-hidden="true"></i></a></p>
    <p><a (click)="this.toNextWeek()" [class]="!isMovableToNextWeek ? 'not-movable' : ''"><i class="fa fa-angle-down" aria-hidden="true"></i></a>To Next Week</p>
  </div>

  <div class="calendar">
    <div class="week-days">
      <div class="date">Mon</div>
      <div class="date">Tue</div>
      <div class="date">Wed</div>
      <div class="date">Thu</div>
      <div class="date">Fri</div>
      <div class="date">Sat</div>
      <div class="date">Sun</div>
    </div>
    <div class="wrapper-weeks">
          <div *ngFor="let week_data of weeks_data; let i=index" class="week">
            <ng-container *ngFor="let day_data of week_data; let j=index">

            <div *ngIf="day_data.isCurMonth" (click)="day_data.bodyParts != '' ? showWorkoutModal(day_data) : null"
                [class]="day_data.bodyParts == '' ? 'day'
                          : day_data.status == 'upcoming' ? day_data.testSession ? 'day test upcoming' : 'day upcoming'
                          : day_data.status == 'missed' ? (day_data.isToday ? 'day missed today' : day_data.testSession ? 'day test missed' : 'day missed')
                          : day_data.isToday ? 'day completed today' : 'day completed' ">
              <div>
                <span class="time">{{day_data.date.substr(-2)}}</span>
              </div>
            </div>
            <div *ngIf="!day_data.isCurMonth" class="day none"></div>
          </ng-container>

          </div>
    </div>
  </div>

  <div class="workout">
    <div class="workout-title">
      <p class="text-uppercase">today's workout:</p>
    </div>
    <div class="workout-item">
      <div class="workout-item-text">
        <div class="workout-item-status">
            <p class="date-status"><span>{{today_info.date}}</span></p>
            <p class="item-type">{{today_info.bodyParts}}</p>
            <p class="item-title" style="text-transform: uppercase;">{{today_info.program}}</p>
        </div>
      </div>
      <div class="workout-item-button">
          <a *ngIf="today_info.bodyParts != '' && !today_info.completed" class="start_btn" (click)="start()">Start</a>
          <a *ngIf="today_info.bodyParts != '' && today_info.completed" class="edit_btn" (click)="edit()"><img src="assets/images/icons/eye.png"></a>
      </div>
    </div>
  </div>
</div>
