<div class="trophy-wall">
    <div class="strenght-level">
        <div class="title">
            <h4>STRENGTH LEVEL</h4>
            <p>Choose test exercise</p>
        </div>
        <div class="exercise-list">
            <h4>{{title}}</h4>
            <div class="list elegant-scrollbar">
                <div class="checkbox custom-checkbox" *ngFor="let item of exerciseList">
                    <label>
                        <input type="checkbox" value="" (click)="onClickExercise(item.id)" [checked]="item.id==sel_exercise_id" [disabled]="item.id==sel_exercise_id">{{item.name}}
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="performance-graph">
        <div class="row">
            <div class="col-12 col-sm-7">
                <div class="title">
                    <h4>PERFORMANCE GRAPH</h4>
                    <p>{{ exerciseList && exerciseList.length > 0 ? exerciseList[0].name : ""}}</p>
                </div>
            </div>
            <div class="col-12 col-sm-5">
                <div class="triple-trophy">
                    <img *ngFor="let program of showing_list" src="assets/images/icons/trophy.svg" class="img-fluid trophy" alt="" [hidden]="!program.badge">
                </div>
            </div>
        </div>
        <div class="graphs">
          <div [id]="firstGraphId"></div>
          <div [id]="secondGraphId" style="margin-left: -42px;"></div>
          <div [id]="thirdGraphId" style="margin-left: -42px;"></div>
        </div>
        <div class='descriptions' [id]="'description' + _id">
            <div *ngFor="let program of showing_list; let i=index"  [ngStyle]="{'width': descriptionDivWidth[i] + 'px'}">
                <span>{{program.program_name}}</span>
                <span>{{program.period}}</span>
                <span><b>{{program.increasedKg}}kg</b> increase</span>
            </div>
        </div>
        <div class="scrolldiv">
          <div class="scrollmenu" [id]="'scroll' + _id" (scroll)="onScroll()" [hidden]="program_list == null || program_list == undefined || program_list.length <= 3">
            <a class="hiddenItem" *ngFor="let program of program_list">{{program.program_name}}</a>
          </div>
        </div>
        <div class="conventions">
            <p class="start-end"><span></span>Start/End program</p>
            <p class="performance"><span></span>Performance</p>
            <p class="levels"><span></span>Levels</p>
            <p class="pretest"><span></span>Pretest</p>
            <p class="posttest"><span></span>Posttest</p>
        </div>
    </div>

    <div class="total-percentage">
        <div class="row h-100">
            <div class="col-12">
                <div class="text-center">
                    <div class="title">
                        <h4>TOTAL PERCENTAGE INCREASE</h4>
                    </div>

                    <div class="gauge-container">
                        <osg-gauge [css]="color" [value]="total_increased"></osg-gauge>
                    </div>
                </div>
            </div>
            <div class="col-12 align-self-end">
                <div class="program-period">
                    <h4>ALL PROGRAMS</h4>
                    <p><b>Period:</b> {{entire_period}}</p>
                    <p><b>Total Days:</b> {{total_days > 0 ? total_days : ''}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 guage-box" *ngIf="ratios != null && ratios != undefiend">
        <div class="current-level">
            <div class="row no-gutters align-items-center">
                <div class="col-12 col-sm-auto">
                    <div class="title">
                        <h4>CURRENT LEVEL</h4>
                        <p>You are stronger than:</p>
                    </div>
                </div>
                <div class="col-12 col-sm guage-items">
                    <div class="row no-gutters">
                        <div class="col">
                            <div class="level no-border">
                                <div class="gauge-container">
                                    <osg-gauge css="green no-circle" [value]="ratios.level_ratio"></osg-gauge>
                                </div>
                                <p>of male lifters<br> at your <b>strength<br> level</b></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="level">
                                <div class="gauge-container">
                                    <osg-gauge css="orange no-circle" [value]="ratios.height_ratio"></osg-gauge>
                                </div>
                                <p>of male lifters<br> with your<br> <b>height</b></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="level">
                                <div class="gauge-container">
                                    <osg-gauge css="red no-circle" [value]="ratios.age_ratio"></osg-gauge>
                                </div>
                                <p>of male lifters<br> at your<br> <b>age</b></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="level">
                                <div class="gauge-container">
                                    <osg-gauge css="blue no-circle" [value]="ratios.weight_ratio"></osg-gauge>
                                </div>
                                <p>of male lifters<br> with your <br><b>body weight</b></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="level">
                                <div class="gauge-container">
                                    <osg-gauge css="red no-circle" [value]="ratios.waist_hip_ratio_ratio"></osg-gauge>
                                </div>
                                <p>of male lifters<br> with your <br><b>waist-hip ratio</b></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="level">
                                <div class="gauge-container">
                                    <osg-gauge css="orange no-circle" [value]="ratios.muscle_type_ratio"></osg-gauge>
                                </div>
                                <p>of male lifters<br> with your<br> <b>muscle fiber type</b></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="level yellow-bg">
                                <div class="gauge-container">
                                    <osg-gauge css="blue no-circle" [value]="ratios.combined_ratio"></osg-gauge>
                                </div>
                                <p>of your <b>mirror athletes</b> (all variables combined)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
