<div class="muscle-group">
  <div class="muscle-group-table">
    <div class="cell muscle" [ngStyle]="{'flex': 'auto'}">
      <div class="title">Main Muscle Group</div>
      <div class="content">
        <h4>{{muscleGroup.name}}</h4>
      </div>
    </div>
    <div class="cell exercise" [ngStyle]="{'flex': 'auto'}">
      <div class="title">Test Exercise</div>
      <div class="content">
        <div class="dropdown">
          <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div style="margin-right: 30px;">{{selExercise ? selExercise.name : ""}}</div>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
            <a *ngFor="let exercise of exercises; let i=index" class="dropdown-item" (click)="onClickExercise(i)">{{exercise.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell program" [ngStyle]="{'flex': 'auto'}">
      <div class="title">Best Programs</div>
      <div class="content">
        <ol>
          <li *ngFor="let program of topPrograms"><a (click)="gotoProgram(program)">{{program.name}}</a></li>
        </ol>
      </div>
    </div>
    <div class="cell increase" [ngStyle]="{'flex': 'auto'}">
      <div class="title">% Increase (1RM)</div>
      <div class="content">
        <ol>
          <li *ngFor="let program of topPrograms">{{program.increased + ' %'}}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
