<div class="header">
    <div class="navigate-buttons">
        <a class="left-button" (click)="Back()"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-lg"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z" class=""></path></svg></a>
        <a class="right-button" (click)="FinishWorkout()">Finish Workout</a>
    </div>
    <div class="detail-info">
        <div class="detail-info-title">
            <p><span>Day3: {{date}}</span><span>
                    <svg ><circle cx="5" cy="5" r="1" stroke="#000" stroke-width="3" /></svg>
                    In progress</span>
            </p>
            <h4>Chest, Shoulders & Triceps</h4>
            <h5>German Volume Training</h5>
        </div>
    </div>
    <div class="regulation" *ngIf="status != 'completed'">
        <p>autoRegulation:</p>
        <ui-switch [(ngModel)]="autoRegulation" size="large" color="#85c435" switchColor="#fcfcfc" labelOn="On" labelOff="Off"></ui-switch>
    </div>
</div>
<div class="container" [ngClass]="status=='completed'?'marginTop':'marginNormal'">
    <osg-workout-detail-upcoming [status]='status' (valueChange)='getEvent($event)' *ngIf="status != 'completed'"></osg-workout-detail-upcoming>
    <osg-workout-detail-complete *ngIf="status == 'completed'"></osg-workout-detail-complete>
</div>