<h2>Exercises:</h2>
<div class="search-form">
   <div class="form-group"><input class="form-control" placeholder="Search: Exercises, Muscle Group" type="text"></div>
</div>
<h3 class="sticky-rv1">MULTI JOINT EXERCISES:</h3>
<div class="exercises-list">

   <div class="exercise">
      <figure>
         <img alt="" class="mx-auto d-block mb-1" src="images/squat.png">
         <h4>Squats</h4>
      </figure>
   </div>
   <div class="exercise">
      <figure>
         <img alt="" class="mx-auto d-block mb-1" src="images/squat.png">
         <h4>FRONT<br>SQUATS</h4>
      </figure>
   </div>
   <div class="exercise">
      <figure>
         <img alt="" class="mx-auto d-block mb-1" src="images/squat.png">
         <h4>Lunges</h4>
      </figure>
   </div>
   <div class="exercise">
      <figure>
         <img alt="" class="mx-auto d-block mb-1" src="images/squat.png">
         <h4>Leg Press</h4>
      </figure>
   </div>
</div>
<h3 class="sticky-rv">SINGLE JOINT EXERCISES:</h3>
<div class="exercises-list">
   <div class="exercise">
      <figure>
         <img alt="" class="mx-auto d-block mb-1" src="images/squat.png">
         <h4>Leg<br>Extension</h4>
      </figure>
   </div>
   <div class="exercise">
      <figure>
         <img alt="" class="mx-auto d-block mb-1" src="images/squat.png">
         <h4>Single Leg<br>Extension</h4>
      </figure>
   </div>
   <div class="exercise">
      <figure>
         <img alt="" class="mx-auto d-block mb-1" src="images/squat.png">
         <h4>Sissy<br>Squats</h4>
      </figure>
   </div>
   <div class="exercise">
      <figure>
         <!-- <img alt="" class="mx-auto d-block mb-1" src="images/squat.png"> -->
         <h4></h4>
      </figure>
   </div>
</div>



<!-- <h2>Exercises:</h2>

<div class="search-form">
    <div class="form-group">
        <input type="text" placeholder="Search: Exercises, Muscle Group" class="form-control">
    </div>
</div>

<div class="exercises-list">
    <h3>MULTI JOINT EXERCISES:</h3>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Squats</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>FRONT SQUATS</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Squats</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>FRONT SQUATS</h4>
        </figure>
    </div>

    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Squats</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>FRONT SQUATS</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Squats</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>FRONT SQUATS</h4>
        </figure>
    </div>
</div>

<div class="exercises-list">
    <h3>SINGLE JOINT EXERCISES:</h3>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Leg Extension</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>

    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
</div> -->
