<div class="container-fluid">
    <h1>THE WORKOUT & CALENDAR BUILDER</h1>
    <div class="clearfix"></div>
    <div class="row">
        <osg-plan-builder-exercises></osg-plan-builder-exercises>
        <osg-plan-builder-workout></osg-plan-builder-workout>
        <osg-plan-builder-calendar></osg-plan-builder-calendar>
    </div>
    <div class="row">
        <div class="general-actions text-right">
            <a href="" class="btn btn-black py-2 px-4"> <img src="/assets/images/icons/icon-save.svg" alt=""> SAVE
                PROGRAM</a>
            <a (click)="next()" class="btn btn-green-gradient btn-next py-2 pl-3 mt-3 mt-sm-0"> NEXT : PROGRESSION BUILDER</a>
        </div>
    </div>
</div>

<!-- <div class="osg-plan-builder1 d-flex justify-content-center">
   <div class="osg-calendar-builder1">
      <div class="container-fluid">
         <h1>THE WORKOUT &amp;<br> CALENDAR BUILDER</h1>
         <div class="clearfix"></div>
         <div class="row">
            <div class="osg-plan-builder-exercises1">
               <h2>Exercises:</h2>
               <div class="search-form">
                  <div class="form-group"><input class="form-control" placeholder="Search: Exercises, Muscle Group" type="text"></div>
               </div>
               <div class="exercises-list">
                  <h3>MULTI JOINT EXERCISES:</h3>
                  <div class="exercise_img">
                     <img src="images/screenshots/Multi.png" alt="">
                  </div>
               </div>
               <div class="exercises-list">
                  <h3>SINGLE JOINT EXERCISES:</h3>
                  <div class="exercise_img">
                     <img src="images/screenshots/Single.png" alt="">
                  </div>
               </div>
            </div>
            <div class="osg-plan-builder-workout1">
               <h2>Workouts:</h2>
               <div class="container-box">
                  <div class="worout_img">
                     <img src="images/screenshots/Workkouts.png" alt="">
                  </div>
               </div>
            </div>
            <div class="osg-plan-builder-calendar1">
               <h2>Calendar:</h2>
               <div class="container-box">
                  <div class="calendar_image">
                     <img src="images/screenshots/Calendar.png" alt="">
                  </div>
               </div>
            </div>
         </div>
         <div class="row justify-content-end">
            <div class="general-actions text-right"><a class="btn btn-black py-1 px-1" href=""><img alt="" src="images/save.png"> SAVE PROGRAM</a><a (click)="next()" class="btn btn-green-gradient btn-next py-1 pl-1 mt-3 mt-sm-0"> NEXT : PROGRESSION BUILDER</a></div>
         </div>
      </div>
    </div>  
</div> -->