<div class="personal-calendar desktop" *showItDevice="['tablet','desktop']">
    <div class="title">
        <div class="row align-items-center">
            <div class="col-12 col-sm-5">
                <h3>Booking</h3>
            </div>
            <div class="col-12 col-sm-5">
                <div class="control-slider">
                    <p>{{getMonthName() + " " + this.year}}</p>
                    <a (click)="movePrevMonth()" class="btn-control prev"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                    <a (click)="moveNextMonth()" class="btn-control next"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- <div class="col-12 col-sm-1">
                <a href="" class="edit"><img src="/assets/images/icons/icon-pencil.svg" class="img-fluid" alt=""></a>
            </div> -->
        </div>
    </div>

    <div class="conventions">
        <p class="available"><span></span>Sessions available</p>
        <p class="almost-full"><span></span>Almost full</p>
        <p class="completely-full"><span></span>Completely full</p>
    </div>

    <div class="responsive-calendar">
        <div class="calendar">
            <div class="week-days">
                <div class="col">Sunday</div>
                <div class="col">Monday</div>
                <div class="col">Tuesday</div>
                <div class="col">Wednesday</div>
                <div class="col">Thursday</div>
                <div class="col">Friday</div>
                <div class="col">Saturday</div>
            </div>
            <div class="wrapper-weeks">
                <div class="week" *ngFor="let week of this.calendar">
                  <div class="cell" *ngFor="let day of week">
                    <div class="checbox-dropdown" *ngIf="!from_other_profile">
                      <osg-select [(value)]="day.status" [options]="dateStatusList" (change)="onChangeStatus(day)"></osg-select>
                    </div>

                    <div [class]="getClassName(day)" (click)="showBookingModal(day)">
                      <div class="panel">
                        <span class="time">{{day.showDate}}</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="personal-calendar mobile" *showItDevice="['mobile']">
    <div class="title">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6">
            <h3>Booking</h3>
            </div>
            <div class="col-12 col-sm-5">
                <div class="control-slider">
                    <p>{{getMonthName() + " " + this.year}}</p>
                    <a (click)="movePrevMonth()" class="btn-control prev"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                    <a (click)="moveNextMonth()" class="btn-control next"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- <div class="col-12 col-sm-1">
                <a href="" class="edit"><img src="/assets/images/icons/icon-pencil.svg" class="img-fluid" alt=""></a>
            </div> -->
        </div>
    </div>

    <div class="conventions">
        <p class="available"><span></span>Sessions available</p>
        <p class="almost-full"><span></span>Almost full</p>
        <p class="completely-full"><span></span>Completely full</p>
    </div>

    <div class="responsive-calendar">
        <div class="calendar">
            <div class="week-days">
                <div class="date">Sun</div>
                <div class="date">Mon</div>
                <div class="date">Tue</div>
                <div class="date">Wed</div>
                <div class="date">Thu</div>
                <div class="date">Fri</div>
                <div class="date">Sat</div>
            </div>
            <div class="wrapper-weeks">
                <div class="week" *ngFor="let week of this.calendar">
                  <div class="cell" *ngFor="let day of week">
                    <div class="checbox-dropdown" *ngIf="!from_other_profile">
                      <osg-select [(value)]="day.status" [options]="dateStatusList" (change)="onChangeStatus(day)"></osg-select>
                    </div>

                    <div [class]="getClassName(day)" (click)="showBookingModal(day)">
                      <div class="panel">
                        <span class="time">{{day.showDate}}</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
