<div class="title">
  <div class="row">
    <div class="col-12">
      <h3>EXPERIENCE BANK: <span>{{first_program == undefined || first_program.name == undefined ? "" : first_program.name}}</span></h3>
    </div>
  </div>
</div>

<!----------------------------------- Expectation Data ------------------------------------>
<!----------------------- Expectation Data For Men ------------------------>
<ng-container *ngIf="expected_data.male.length > 0">
  <ng-container *ngIf="expected_data.male[0].data.length == 1; then ManOnlyOverage; else ManNormal"></ng-container>
  <ng-template #ManOnlyOverage>
    <div class="row">

      <!-- first exercise -->
      <div class="col-6">
        <h4>TEST EXPERIENCE: <span>{{expected_data.male[0].name}}</span> (MEN)</h4>
        <h4 style="margin-top:-10px">Your expected results</h4>

          <div class="category-group">
            <div class="category-box">
              <div class="type">
                <label>{{expected_data.male[0].data[0].name}}:</label>
              </div>
              <div class="results average">
                <div class="item">
                  <label>results(% increase):</label>
                  <p>{{expected_data.male[0].data[0].value}}%</p>
                </div>
                <div class="item">
                  <label>no. of completions:</label>
                  <p>{{expected_data.male[0].data[0].cnt}}</p>
                </div>
              </div>
            </div>
          </div>
      </div>

      <!-- second exercise -->
      <div class="col-6">
        <ng-container *ngIf="expected_data.male.length > 1">
          <h4>TEST EXPERIENCE: <span>{{expected_data.male[1].name}}</span> (MEN)</h4>
          <h4 style="margin-top:-10px">Your expected results</h4>

          <div class="row ml-0">
            <div class="category-group">
              <div class="category-box">
                <div class="type">
                  <label>{{expected_data.male[1].data[0].name}}:</label>
                </div>
                <div class="results average">
                  <div class="item">
                    <label>results(% increase):</label>
                    <p>{{expected_data.male[1].data[0].value}}%</p>
                  </div>
                  <div class="item">
                    <label>no. of completions:</label>
                    <p>{{expected_data.male[1].data[0].cnt}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <!-- third exercise -->
    <ng-container *ngIf="expected_data.male.length > 2">
      <h4>TEST EXPERIENCE: <span>{{expected_data.male[2].name}}</span> (MEN)</h4>
      <h4 style="margin-top:-10px">Your expected results</h4>

      <div class="row ml-0">
        <div class="category-group">
          <div class="category-row">
            <div class="category-box">
              <div class="type">
                <label>{{expected_data.male[2].data[0].name}}:</label>
              </div>
              <div class="results average">
                <div class="item">
                  <label>results(% increase):</label>
                  <p>{{expected_data.male[2].data[0].value}}%</p>
                </div>
                <div class="item">
                  <label>no. of completions:</label>
                  <p>{{expected_data.male[2].data[0].cnt}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #ManNormal>
    <ng-container *ngFor="let exercise of expected_data.male">
      <h4>TEST EXPERIENCE: <span>{{exercise.name}}</span> (WMEN) · Your expected results</h4>

      <div class="row ml-0">
        <div class="category-group">
          <div class="category-row">
            <ng-container *ngFor="let cell of exercise.data; let i=index;">
              <div class="category-box" *ngIf="i < 4">
                <div class="type">
                  <label>{{cell.name}}:</label>
                  <input type="text" [placeholder]="cell.sort.replaceAll('.',',')" readonly *ngIf="cell.sort != ''">
                </div>
                <div [class]="i==exercise.data.length-1 ? 'results average' : (i==exercise.data.length-2 ? 'results mirror' : 'results')">
                  <div class="item">
                    <label>results(% increase):</label>
                    <p>{{cell.value}}%</p>
                  </div>
                  <div class="item">
                    <label>no. of completions:</label>
                    <p>{{cell.cnt}}</p>
                  </div>
                </div>
              </div>

            </ng-container>
          </div>

          <ng-container *ngIf="exercise.data.length > 4">
            <div class="category-row">
              <ng-container *ngFor="let cell of exercise.data; let i=index;">
                <div class="category-box" *ngIf="i >= 4">
                  <div class="type">
                    <label>{{cell.name}}:</label>
                    <input type="text" [placeholder]="cell.sort.replaceAll('.',',')" readonly *ngIf="cell.sort != ''">
                  </div>
                  <div [class]="i==exercise.data.length-1 ? 'results average' : (i==exercise.data.length-2 ? 'results mirror' : 'results')">
                    <div class="item">
                      <label>results(% increase):</label>
                      <p>{{cell.value}}%</p>
                    </div>
                    <div class="item">
                      <label>no. of completions:</label>
                      <p>{{cell.cnt}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-template>
</ng-container>


<!----------------------- Expectation Data For Woman ------------------------>
<ng-container *ngIf="expected_data.female.length > 0">
  <ng-container *ngIf="expected_data.female[0].data.length == 1; then WomanOnlyAverage; else WomanNormal"></ng-container>
  <ng-template #WomanOnlyAverage>
    <div class="row">

      <!-- first exercise -->
      <div class="col-6">
        <h4>TEST EXPERIENCE: <span>{{expected_data.female[0].name}}</span> (WOMEN)</h4>
        <h4 style="margin-top:-10px">Your expected results</h4>

          <div class="category-group">
            <div class="category-box">
              <div class="type">
                <label>{{expected_data.female[0].data[0].name}}:</label>
              </div>
              <div class="results average">
                <div class="item">
                  <label>results(% increase):</label>
                  <p>{{expected_data.female[0].data[0].value}}%</p>
                </div>
                <div class="item">
                  <label>no. of completions:</label>
                  <p>{{expected_data.female[0].data[0].cnt}}</p>
                </div>
              </div>
            </div>
          </div>
      </div>

      <!-- second exercise -->
      <div class="col-6">
        <ng-container *ngIf="expected_data.female.length > 1">
          <h4>TEST EXPERIENCE: <span>{{expected_data.female[1].name}}</span> (WOMEN)</h4>
          <h4 style="margin-top:-10px">Your expected results</h4>

          <div class="row ml-0">
            <div class="category-group">
              <div class="category-box">
                <div class="type">
                  <label>{{expected_data.female[1].data[0].name}}:</label>
                </div>
                <div class="results average">
                  <div class="item">
                    <label>results(% increase):</label>
                    <p>{{expected_data.female[1].data[0].value}}%</p>
                  </div>
                  <div class="item">
                    <label>no. of completions:</label>
                    <p>{{expected_data.female[1].data[0].cnt}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <!-- third exercise -->
    <ng-container *ngIf="expected_data.female.length > 2">
      <h4>TEST EXPERIENCE: <span>{{expected_data.female[2].name}}</span> (WOMEN)</h4>
      <h4 style="margin-top:-10px">Your expected results</h4>

      <div class="row ml-0">
        <div class="category-group">
          <div class="category-row">
            <div class="category-box">
              <div class="type">
                <label>{{expected_data.female[2].data[0].name}}:</label>
              </div>
              <div class="results average">
                <div class="item">
                  <label>results(% increase):</label>
                  <p>{{expected_data.female[2].data[0].value}}%</p>
                </div>
                <div class="item">
                  <label>no. of completions:</label>
                  <p>{{expected_data.female[2].data[0].cnt}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #WomanNormal>
    <ng-container *ngFor="let exercise of expected_data.female">
      <h4>TEST EXPERIENCE: <span>{{exercise.name}}</span> (WOMEN) · Your expected results</h4>

      <div class="row ml-0">
        <div class="category-group">
          <div class="category-row">
            <ng-container *ngFor="let cell of exercise.data; let i=index;">
              <div class="category-box" *ngIf="i < 4">
                <div class="type">
                  <label>{{cell.name}}:</label>
                  <input type="text" [placeholder]="cell.sort.replaceAll('.',',')" readonly *ngIf="cell.sort != ''">
                </div>
                <div [class]="i==exercise.data.length-1 ? 'results average' : (i==exercise.data.length-2 ? 'results mirror' : 'results')">
                  <div class="item">
                    <label>results(% increase):</label>
                    <p>{{cell.value}}%</p>
                  </div>
                  <div class="item">
                    <label>no. of completions:</label>
                    <p>{{cell.cnt}}</p>
                  </div>
                </div>
              </div>

            </ng-container>
          </div>

          <ng-container *ngIf="exercise.data.length > 4">
            <div class="category-row">
              <ng-container *ngFor="let cell of exercise.data; let i=index;">
                <div class="category-box" *ngIf="i >= 4">
                  <div class="type">
                    <label>{{cell.name}}:</label>
                    <input type="text" [placeholder]="cell.sort.replaceAll('.',',')" readonly *ngIf="cell.sort != ''">
                  </div>
                  <div [class]="i==exercise.data.length-1 ? 'results average' : (i==exercise.data.length-2 ? 'results mirror' : 'results')">
                    <div class="item">
                      <label>results(% increase):</label>
                      <p>{{cell.value}}%</p>
                    </div>
                    <div class="item">
                      <label>no. of completions:</label>
                      <p>{{cell.cnt}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-template>
</ng-container>

<p class="mb-0"><span><b>Your mirror athletes:</b></span> strength athlete that have completed the program and who matches all of your input values. The % increase value shows your expected results if you start and complete the program, based on others actual achieved results.</p>
<p class="mb-5"><span><b>Average:</b></span> average results of all the single % increase values.</p>

<div class="row mb-4" *ngFor="let exercise of top_results.male">
  <div class="col-12 col-lg-12">
    <div class="table-responsive">
      <h4>TEST EXERCISE: <span>{{exercise.name}}</span> (MEN) · Top 3 results</h4>
      <table class="table bank-table">
        <thead>
          <tr>
            <th>RANK</th>
            <th class="variable">VARIABLE</th>
            <th colspan="2" class="untrained">UNTRAINED</th>
            <th colspan="2" class="novice">NOVICE</th>
            <th colspan="2" class="intermediate">INTERMEDIATE</th>
            <th colspan="2" class="advanced">ADVANCED</th>
            <th colspan="2" class="elite">ELITE</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let index of [0,1,2]">

            <!--top 1 data-->
            <tr>
              <td rowspan="7" class="rank"><div><span>{{index+1}}</span></div></td>
            </tr>
            <tr>
              <td class="variable">Body Weight (kg)</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].body_weight : ''}}</td>
              <td class="untrained" rowspan="5" style="vertical-align: middle;">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].value + '%' : ''}}</td>
              <td class="novice">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].body_weight : ''}}</td>
              <td class="novice" rowspan="5" style="vertical-align: middle;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].value + '%' : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].body_weight : ''}}</td>
              <td class="intermediate" rowspan="5" style="vertical-align: middle;">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].value + '%' : ''}}</td>
              <td class="advanced">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].body_weight : ''}}</td>
              <td class="advanced" rowspan="5" style="vertical-align: middle;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].value + '%' : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].body_weight : ''}}</td>
              <td class="elite" rowspan="5" style="vertical-align: middle;">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].value + '%' : ''}}</td>
            </tr>
            <tr>
              <td class="variable">Waist-Hip-Ratio (cm)</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
              <td class="novice" style="border-right: 1px solid #dadada !important;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
              <td class="advanced" style="border-right: 1px solid #dadada !important;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
            </tr>
            <tr>
              <td class="variable">Age (years)</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].age : ''}}</td>
              <td class="novice" style="border-right: 1px solid #dadada !important;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].age : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].age : ''}}</td>
              <td class="advanced" style="border-right: 1px solid #dadada !important;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].age : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].age : ''}}</td>
            </tr>
            <tr>
              <td class="variable">Height (cm)</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].height : ''}}</td>
              <td class="novice" style="border-right: 1px solid #dadada !important;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].height : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].height : ''}}</td>
              <td class="advanced" style="border-right: 1px solid #dadada !important;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].height : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].height : ''}}</td>
            </tr>
            <tr>
              <td class="variable">Muscle Fiber Type</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].muscle_type : ''}}</td>
              <td class="novice" style="border-right: 1px solid #dadada !important;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].muscle_type : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].muscle_type : ''}}</td>
              <td class="advanced" style="border-right: 1px solid #dadada !important;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].muscle_type : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].muscle_type : ''}}</td>
            </tr>
            <tr class="mirror">
              <td class="variable">Mirror Athletes</td>
              <td colspan="2" class="mirror">{{exercise.data[0].data.length > index && exercise.data[0].data[index].mirror >= 0 ? exercise.data[0].data[index].mirror + '%' : 'NO DATA YET'}}</td>
              <td colspan="2" class="mirror">{{exercise.data[1].data.length > index && exercise.data[1].data[index].mirror >= 0 ? exercise.data[1].data[index].mirror + '%' : 'NO DATA YET'}}</td>
              <td colspan="2" class="mirror">{{exercise.data[2].data.length > index && exercise.data[2].data[index].mirror >= 0 ? exercise.data[2].data[index].mirror + '%' : 'NO DATA YET'}}</td>
              <td colspan="2" class="mirror">{{exercise.data[3].data.length > index && exercise.data[3].data[index].mirror >= 0 ? exercise.data[3].data[index].mirror + '%' : 'NO DATA YET'}}</td>
              <td colspan="2" class="mirror">{{exercise.data[4].data.length > index && exercise.data[4].data[index].mirror >= 0 ? exercise.data[4].data[index].mirror + '%' : 'NO DATA YET'}}</td>
            </tr>
          </ng-container>
          <tr>
            <td colspan="2" class="variable" style="text-align:center">Average</td>
            <td colspan="2" class="average">{{exercise.data[0].data.length > 0 && exercise.data[0].data[0].average >= 0 ? exercise.data[0].data[0].average + '%' : 'NO DATA YET'}}</td>
            <td colspan="2" class="average">{{exercise.data[1].data.length > 0 && exercise.data[1].data[0].average >= 0 ? exercise.data[1].data[0].average + '%' : 'NO DATA YET'}}</td>
            <td colspan="2" class="average">{{exercise.data[2].data.length > 0 && exercise.data[2].data[0].average >= 0 ? exercise.data[2].data[0].average + '%' : 'NO DATA YET'}}</td>
            <td colspan="2" class="average">{{exercise.data[3].data.length > 0 && exercise.data[3].data[0].average >= 0 ? exercise.data[3].data[0].average + '%' : 'NO DATA YET'}}</td>
            <td colspan="2" class="average">{{exercise.data[4].data.length > 0 && exercise.data[4].data[0].average >= 0 ? exercise.data[4].data[0].average + '%' : 'NO DATA YET'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row mb-4" *ngFor="let exercise of top_results.female">
  <div class="col-12 col-lg-12">
    <div class="table-responsive">
      <h4>TEST EXERCISE: <span>{{exercise.name}}</span> (WOMEN) · Top 3 results</h4>
      <table class="table bank-table">
        <thead>
          <tr>
            <th>RANK</th>
            <th class="variable">VARIABLE</th>
            <th colspan="2" class="untrained">UNTRAINED</th>
            <th colspan="2" class="novice">NOVICE</th>
            <th colspan="2" class="intermediate">INTERMEDIATE</th>
            <th colspan="2" class="advanced">ADVANCED</th>
            <th colspan="2" class="elite">ELITE</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let index of [0,1,2]">

            <!--top 1 data-->
            <tr>
              <td rowspan="7" class="rank"><div><span>{{index+1}}</span></div></td>
            </tr>
            <tr>
              <td class="variable">Body Weight (kg)</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].body_weight : ''}}</td>
              <td class="untrained" rowspan="5" style="vertical-align: middle;">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].value + '%' : ''}}</td>
              <td class="novice">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].body_weight : ''}}</td>
              <td class="novice" rowspan="5" style="vertical-align: middle;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].value + '%' : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].body_weight : ''}}</td>
              <td class="intermediate" rowspan="5" style="vertical-align: middle;">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].value + '%' : ''}}</td>
              <td class="advanced">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].body_weight : ''}}</td>
              <td class="advanced" rowspan="5" style="vertical-align: middle;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].value + '%' : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].body_weight : ''}}</td>
              <td class="elite" rowspan="5" style="vertical-align: middle;">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].value + '%' : ''}}</td>
            </tr>
            <tr>
              <td class="variable">Waist-Hip-Ratio (cm)</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
              <td class="novice" style="border-right: 1px solid #dadada !important;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
              <td class="advanced" style="border-right: 1px solid #dadada !important;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].waist_hip_ratio.replaceAll('.', ',') : ''}}</td>
            </tr>
            <tr>
              <td class="variable">Age (years)</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].age : ''}}</td>
              <td class="novice" style="border-right: 1px solid #dadada !important;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].age : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].age : ''}}</td>
              <td class="advanced" style="border-right: 1px solid #dadada !important;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].age : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].age : ''}}</td>
            </tr>
            <tr>
              <td class="variable">Height (cm)</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].height : ''}}</td>
              <td class="novice" style="border-right: 1px solid #dadada !important;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].height : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].height : ''}}</td>
              <td class="advanced" style="border-right: 1px solid #dadada !important;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].height : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].height : ''}}</td>
            </tr>
            <tr>
              <td class="variable">Muscle Fiber Type</td>
              <td class="untrained">{{exercise.data[0].data.length > index ? exercise.data[0].data[index].muscle_type : ''}}</td>
              <td class="novice" style="border-right: 1px solid #dadada !important;">{{exercise.data[1].data.length > index ? exercise.data[1].data[index].muscle_type : ''}}</td>
              <td class="intermediate">{{exercise.data[2].data.length > index ? exercise.data[2].data[index].muscle_type : ''}}</td>
              <td class="advanced" style="border-right: 1px solid #dadada !important;">{{exercise.data[3].data.length > index ? exercise.data[3].data[index].muscle_type : ''}}</td>
              <td class="elite">{{exercise.data[4].data.length > index ? exercise.data[4].data[index].muscle_type : ''}}</td>
            </tr>
            <tr class="mirror">
              <td class="variable">Mirror Athletes</td>
              <td colspan="2" class="mirror">{{exercise.data[0].data.length > index && exercise.data[0].data[index].mirror >= 0 ? exercise.data[0].data[index].mirror + '%' : 'NO DATA YET'}}</td>
              <td colspan="2" class="mirror">{{exercise.data[1].data.length > index && exercise.data[1].data[index].mirror >= 0 ? exercise.data[1].data[index].mirror + '%' : 'NO DATA YET'}}</td>
              <td colspan="2" class="mirror">{{exercise.data[2].data.length > index && exercise.data[2].data[index].mirror >= 0 ? exercise.data[2].data[index].mirror + '%' : 'NO DATA YET'}}</td>
              <td colspan="2" class="mirror">{{exercise.data[3].data.length > index && exercise.data[3].data[index].mirror >= 0 ? exercise.data[3].data[index].mirror + '%' : 'NO DATA YET'}}</td>
              <td colspan="2" class="mirror">{{exercise.data[4].data.length > index && exercise.data[4].data[index].mirror >= 0 ? exercise.data[4].data[index].mirror + '%' : 'NO DATA YET'}}</td>
            </tr>
          </ng-container>
          <tr>
            <td colspan="2" class="variable" style="text-align:center">Average</td>
            <td colspan="2" class="average">{{exercise.data[0].data.length > 0 && exercise.data[0].data[0].average >= 0 ? exercise.data[0].data[0].average + '%' : 'NO DATA YET'}}</td>
            <td colspan="2" class="average">{{exercise.data[1].data.length > 0 && exercise.data[1].data[0].average >= 0 ? exercise.data[1].data[0].average + '%' : 'NO DATA YET'}}</td>
            <td colspan="2" class="average">{{exercise.data[2].data.length > 0 && exercise.data[2].data[0].average >= 0 ? exercise.data[2].data[0].average + '%' : 'NO DATA YET'}}</td>
            <td colspan="2" class="average">{{exercise.data[3].data.length > 0 && exercise.data[3].data[0].average >= 0 ? exercise.data[3].data[0].average + '%' : 'NO DATA YET'}}</td>
            <td colspan="2" class="average">{{exercise.data[4].data.length > 0 && exercise.data[4].data[0].average >= 0 ? exercise.data[4].data[0].average + '%' : 'NO DATA YET'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<p class="mt-2 mb-0"><span><b>Top 3 results:</b></span> the top 3 individual results (% increase) per level.</p>
<p class="mb-0"><span><b>Mirror athletes:</b></span> the average results of all the mirror athletes of the individual top 3 results per level. The Mirror athletes are Strength Athletes that has completed the program that have the same traits (body weight, height etc) as the top 3 Strength Athletes.</p>
<p><span><b>Average:</b></span> the average results per level of all the Strength Athletes (including all traits) that have completed the program.</p>
