<div class="title">
  <div class="row align-items-center">
    <div class="col-12 col-lg-auto col-xl-6 mb-2 mb-xl-0">
      <h3>PROGRAM DESIGN: <span>GVT</span></h3>
    </div>
    <div class="col-12 col-lg col-xl-6 text-lg-right">
      <div class="sort-box">
        <p>LEVEL:</p>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">NOVICE</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">UNTRAINED</a>
            <a class="dropdown-item" href="#">NOVICE</a>
            <a class="dropdown-item" href="#">INTERMEDIATE</a>
            <a class="dropdown-item" href="#">ADVANCED</a>
            <a class="dropdown-item" href="#">ELITE</a>
          </div>
        </div>
        <p>Category:</p>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">POWER</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">STRENGTH</a>
            <a class="dropdown-item" href="#">HYPERTROPHY</a>
            <a class="dropdown-item" href="#">MUSCULAR ENDURANCE</a>
            <a class="dropdown-item" href="#">POWER</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-program-design pd-pb-table mb-4">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th rowspan="2">Muscle<br/>Group</th>
          <th rowspan="2">Test<br/>Exercise</th>
          <th rowspan="2">Type of<br>exercise<br />level 1</th>
          <th rowspan="2">Type of<br>exercise<br />level 2</th>
          <th colspan="2" class="blue">Volume</th>
          <th colspan="2" class="red">Intensity</th>
          <th rowspan="2" class="green">Frequency<br />(muscle gr.<br>pr. week)</th>
          <th rowspan="2">Progression<br/>model</th>
          <th rowspan="2">Rest periods<br />(min-max)</th>
          <th rowspan="2">Tempo<br /> (average)</th>
        </tr>
        <tr>
          <th class="blue">Reps<br />(min-max)</th>
          <th class="blue">Sets<br />(min-max)</th>
          <th class="red">% of 1RM<br />(min-max)</th>
          <th class="red">Reps to<br/>failure<br />(min-max)</th>
        </tr>
        <!--  -->
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">Chest</td>
          <td rowspan="2">Bench Press</td>
          <td>Multi Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Back</td>
          <td rowspan="2">Deadlift</td>
          <td>Multi Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Quads</td>
          <td rowspan="2">Squat</td>
          <td>Multi Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Shoulders</td>
          <td rowspan="2"></td>
          <td>Multi Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Hamstrings</td>
          <td rowspan="2"></td>
          <td>Multi Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Calves</td>
          <td rowspan="2"></td>
          <td>Multi Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Triceps</td>
          <td rowspan="2"></td>
          <td>Multi Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Biceps</td>
          <td rowspan="2"></td>
          <td>Multi Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single Joint</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>