<div class="title">
  <div class="row">
    <div class="col-12">
      <h3>Sort By</h3>
    </div>
  </div>
</div>

<div class="filter-box">
    <h4>Select Program</h4>
    <div class="dropdown white-dropdown with-label">
        <label for="">Program</label>
        <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currentProgram ? currentProgram.name : ''}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let program of published_programs; let ind = index;" class="dropdown-item" (click)="onSelected(program)">{{program.name}}</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-xl-6 custom-col">
            <h4>Men</h4>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setBodyWeightForMaleChecked(!bodyWeightForMaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Body Weight (kg)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{bodyWeightsForMale[bodyWeightForMaleSelIndex]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" (click)="onClickBodyWeightForMale(i)" *ngFor="let bodyWeight of bodyWeightsForMale; let i=index">{{bodyWeight}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setStrengthLevelForMaleChecked(!strengthLevelForMaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Strength level</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{strengthLevels[strengthLevelForMaleSelIndex]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" >
                                <a class="dropdown-item" (click)="onClickStrengthLevelForMale(i)" *ngFor="let strengthLevel of strengthLevels; let i=index">{{strengthLevel}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setWaistToHipRatioForMaleChecked(!waistToHipRatioForMaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                          <label for="">Waist to hip ratio</label>
                          <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{waistToHipRatiosForMale[waistToHipRatioForMaleSelIndex]}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                              <a class="dropdown-item" (click)="onClickWaistToHipRatiosForMale(i)" *ngFor="let waistToHipRatio of waistToHipRatiosForMale; let i=index">{{waistToHipRatio}}</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setHeightForMaleChecked(!heightForMaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Height (cm)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{heights[heightForMaleSelIndex]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <a class="dropdown-item" (click)="onClickHeightForMale(i)" *ngFor="let height of heights;let i=index">{{height}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setAgeForMaleChekced(!ageForMaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                          <label for="">Age (years)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ages[ageForMaleSelIndex]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="5">
                                <a class="dropdown-item" (click)="onClickAgeForMale(i)" *ngFor="let age of ages; let i=index">{{age}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setMuscleFiberForMaleChecked(!muscleFiberForMaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Muscle Fiber Type</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{muscleFibers[muscleFiberForMaleSelIndex]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                                <a class="dropdown-item" (click)="onClickMuscleFiberForMale(i)" *ngFor="let muscleType of muscleFibers; let i=index">{{muscleType}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-6 custom-col">
            <h4>Women</h4>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setBodyWeightForFemaleChecked(!bodyWeightForFemaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Body Weight (kg)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{bodyWeightsForFemale[bodyWeightForFemaleSelIndex]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                <a class="dropdown-item" (click)="onClickBodyWeightForFemale(i)" *ngFor="let bodyWeight of bodyWeightsForFemale; let i=index">{{bodyWeight}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setStrengthLevelForFemaleChecked(!strengthLevelForFemaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Strength level</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{strengthLevels[strengthLevelForFemaleSelIndex]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton8" >
                                <a class="dropdown-item" (click)="onClickStrengthLevelForFemale(i)" *ngFor="let strengthLevel of strengthLevels; let i=index">{{strengthLevel}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setWaistToHipRatioForFemaleChecked(!waistToHipRatioForFemaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                          <label for="">Waist to hip ratio</label>
                          <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{waistToHipRatiosForFemale[waistToHipRatioForFemaleSelIndex]}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton9">
                              <a class="dropdown-item" (click)="onClickWaistToHipRatiosForFemale(i)" *ngFor="let waistToHipRatio of waistToHipRatiosForFemale; let i=index">{{waistToHipRatio}}</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setHeightForFemaleChecked(!heightForFemaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Height (cm)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{heights[heightForFemaleSelIndex]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <a class="dropdown-item" (click)="onClickHeightForFemale(i)" *ngFor="let height of heights;let i=index">{{height}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setAgeForFemaleChecked(!ageForFemaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                          <label for="">Age (years)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ages[ageForFemaleSelIndex]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="5">
                                <a class="dropdown-item" (click)="onClickAgeForFemale(i)" *ngFor="let age of ages; let i=index">{{age}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" (click)="setMuscleFiberForFemaleChecked(!muscleFiberForFemaleChecked)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                          <label for="">Muscle Fiber Type</label>
                          <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{muscleFibers[muscleFiberForFemaleSelIndex]}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton12">
                              <a class="dropdown-item" (click)="onClickMuscleFiberForFemale(i)" *ngFor="let muscleType of muscleFibers; let i=index">{{muscleType}}</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="col-12 col-lg-8">
            <div class="gender">
                <h4>Men: </h4>
                <p *ngIf="bodyWeightForMaleChecked">{{bodyWeightsForMale[bodyWeightForMaleSelIndex] + ' kg'}} <span>x</span></p>
                <p *ngIf="strengthLevelForMaleChecked">{{strengthLevels[strengthLevelForMaleSelIndex]}} <span>x</span></p>
                <p *ngIf="waistToHipRatioForMaleChecked">{{waistToHipRatiosForMale[waistToHipRatioForMaleSelIndex]}} <span>x</span></p>
                <p *ngIf="heightForMaleChecked">{{heights[heightForMaleSelIndex] + ' cm'}} <span>x</span></p>
                <p *ngIf="ageForMaleChecked">{{ages[ageForMaleSelIndex] + ' years'}} <span>x</span></p>
                <p *ngIf="muscleFiberForMaleChecked">{{muscleFibers[muscleFiberForMaleSelIndex]}} <span>x</span></p>
            </div>
            <div class="gender">
                <h4>Women: </h4>
                <p *ngIf="bodyWeightForFemaleChecked">{{bodyWeightsForFemale[bodyWeightForFemaleSelIndex] + ' kg'}} <span>x</span></p>
                <p *ngIf="strengthLevelForFemaleChecked">{{strengthLevels[strengthLevelForFemaleSelIndex]}} <span>x</span></p>
                <p *ngIf="waistToHipRatioForFemaleChecked">{{waistToHipRatiosForFemale[waistToHipRatioForFemaleSelIndex]}} <span>x</span></p>
                <p *ngIf="heightForFemaleChecked">{{heights[heightForFemaleSelIndex] + ' cm'}} <span>x</span></p>
                <p *ngIf="ageForFemaleChecked">{{ages[ageForFemaleSelIndex] + ' years'}} <span>x</span></p>
                <p *ngIf="muscleFiberForFemaleChecked">{{muscleFibers[muscleFiberForFemaleSelIndex]}} <span>x</span></p>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-2 mt-lg-0 text-center text-lg-right">
            <a (click)="onShowResult()" class="btn btn-yellow-gradient py-2 btn-block">SHOW RESULTS</a>
        </div>
    </div>
</div>
