<div class="training-program desktop" id="training-program" *showItDevice="['tablet','desktop']">
  <div class="title">
    <div class="col-12 col-lg col-xl-6 mb-4 mb-xl-0">
      <h3>THE TRAINING PROGRAM: <span>{{first_program == undefined ? "" : first_program.name}}</span></h3>
    </div>
    <div class="col-12 col-sm-auto col-lg-auto">
      <div class="control-slider">
        <p>{{this.getDisplayDate()}}</p>
        <a class="btn-control next" (click)="this.prevWeek()"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        <a class="btn-control prev" (click)="this.nextWeek()"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-12 col-sm-auto col-lg-12 col-xl-auto" [hidden]="applicationUser.role=='StrengthAthlete' ? false : true">
      <a (click)="addToAthleteCalendar()" class="btn btn-green-gradient py-2">ADD TO YOUR CALENDAR</a>
    </div>
  </div>

  <div class="conventions">
    <p class="test-days"><span></span>Test days</p>
    <p class="training-days"><span></span>Training days</p>
  </div>

  <div class="calendar">
    <div class="week-days">
      <div style="width: 50px;">Week</div>
      <div class="col">Monday</div>
      <div class="col">Tuesday</div>
      <div class="col">Wednesday</div>
      <div class="col">Thursday</div>
      <div class="col">Friday</div>
      <div class="col">Saturday</div>
      <div class="col">Sunday</div>
    </div>
    <div class="wrapper-weeks">
      <ng-container *ngFor="let week of data; let i=index">
        <div class="week">
          <div style="width: 50px;"><span>{{i+1}}</span></div>

          <ng-container *ngFor="let day_info of week; let j = index">
            <div class="day {{day_info.day == null || day_info.day.plan == null ? '' : 'training-days'}} {{(day_info.day && day_info.day.isTestDay != null && day_info.day.isTestDay) ? 'test-days' : ''}}" (click)="day_info.day.plan != null ? showModal(i, j) : null">
              <div>
                <span class="time">{{day_info.day ? day_info.day.date : ''}}</span>
                <b>{{first_program.name}}</b>
                <p>
                  <ng-container *ngFor="let workout of plans">
                    <ng-template [ngIf]="day_info.day && workout.id == day_info.day.plan">
                      {{workout.body_parts}}
                    </ng-template>
                  </ng-container>
                </p>
              </div>
            </div>
          </ng-container>

        </div>
      </ng-container>

    </div>
  </div>
</div>

<div class="training-program mobile" id="training-program" *showItDevice="['mobile']">
  <div class="title">
    <div class="col-12 col-lg col-xl-5 mb-2 mb-xl-0">
      <h3>THE TRAINING PROGRAM: <span>{{first_program.name}}</span></h3>
    </div>
    <div class="col-12 col-sm-auto col-lg-auto mb-4">
      <div class="control-slider">
        <p>{{this.getDisplayDate()}}</p>
        <a class="btn-control next" (click)="this.prevWeek()"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        <a class="btn-control prev" (click)="this.nextWeek()"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="responsive-calendar">
    <div class="calendar">
      <div class="week-days">
        <div style="width: 30px;">Week</div>
        <div class="date">Mon</div>
        <div class="date">Tue</div>
        <div class="date">Wed</div>
        <div class="date">Thu</div>
        <div class="date">Fri</div>
        <div class="date">Sat</div>
        <div class="date">Sun</div>
      </div>
      <div class="wrapper-weeks">
        <ng-container *ngFor="let week of data; let i=index">
          <div class="week">
            <div style="width: 30px;"><span>{{i+1}}</span></div>

            <ng-container *ngFor="let day_info of week; let j = index">
              <div class="day {{day_info.day == null || day_info.day.plan == undefined || day_info.day.plan == null ? '' : 'training-days'}} {{(day_info.day && day_info.day.isTestDay != null && day_info.day.isTestDay) ? 'test-days' : ''}}" (click)="day_info.day.plan != null ? showModal(i, j) : null">
                <div>
                  <span class="time">{{day_info.day && day_info.day.date != null ? day_info.day.date.split(' ')[1] : ''}}</span>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="workout d-flex flex-row mb-4" *ngIf="applicationUser.role=='StrengthAthlete'">
      <div class="description d-flex flex-column">
        <p class="workout_title">Upload to your<br>Calendar & workout log</p>
      </div>
      <div class="workout-button">
        <a (click)="addToAthleteCalendar()">upload</a>
      </div>
    </div>
  </div>
</div>
