<div class="header">
    <div class="detail-info">
        <div class="detail-info-title">
            <h4>Calendar & Workout Log</h4>
            <h5>In progress: German Volume Training</h5>
        </div>
        <div class="detail-text-group">
            <div class="detail-text">
                <h4><span>25</span><span class="detail-explain">Sessions<br>completed</span></h4>
            </div>
            <div class="detail-text">
                <h4><span>70</span><span class="detail-explain">Total<br> sessions</span></h4>
            </div>
            <div class="detail-text">
                <h4><span>36%</span><span class="detail-explain">of program<br>completed</span></h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <osg-workout-list></osg-workout-list>
</div>