<div class="header">
    <div class="detail-info">
        <div class="detail-info-title">
            <h4>Calendar & Workout Log</h4>
            <h5>In progress: {{program_name}}</h5>
        </div>
        <div class="detail-text-group">
            <div class="detail-text">
                <h4><span>{{completed_session ? completed_session : 0}}</span><span class="detail-explain">Sessions<br>completed</span></h4>
            </div>
            <div class="detail-text">
                <h4><span>{{total_session ? total_session : 0}}</span><span class="detail-explain">Total<br> sessions</span></h4>
            </div>
            <div class="detail-text">
                <h4><span>{{completed_ratio ? completed_ratio + '%' : '0%'}}</span><span class="detail-explain">of program<br>completed</span></h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="calendar">
        <div class="week-days">
            <div class="date">Mon</div>
            <div class="date">Tue</div>
            <div class="date">Wed</div>
            <div class="date">Thu</div>
            <div class="date">Fri</div>
            <div class="date">Sat</div>
            <div class="date">Sun</div>
        </div>
        <div class="wrapper-weeks">
          <div *ngFor="let week_data of weeks_data; let i=index" class="week">

            <div *ngFor="let day_data of week_data; let j=index" (click)="showWorkout(day_data)"
                [class]="day_data.bodyParts == '' ? (day_data.isToday ? 'day today' : 'day')
                        : day_data.status == 'upcoming' ? day_data.testSession ? 'day test upcoming' : 'day upcoming'
                        : day_data.status == 'missed' ? (day_data.isToday ? 'day missed today' : day_data.testSession ? 'day test missed' : 'day missed')
                          : day_data.isToday ? 'day completed today' : 'day completed' " style="width: 15%">
              <div>
                <span class="time">{{day_data.date}}</span>
              </div>
            </div>

          </div>
        </div>
    </div>

    <div class="workout">
        <div class="workout-title">
            <p class="text-uppercase">today's workout:</p>
        </div>
        <div class="workout-item">
            <div class="workout-item-text">
                <div class="workout-item-status">
                    <p class="date-status"><span>{{today_info.date}}</span></p>
                    <p class="item-type">{{today_info.bodyParts}}</p>
                    <p class="item-title" style="text-transform: uppercase;">{{today_info.program}}</p>
                </div>
            </div>
            <div class="workout-item-button">
                <a *ngIf="today_info.bodyParts != '' && !today_info.completed" class="start_btn" (click)="start()">Start</a>
                <a *ngIf="today_info.bodyParts != '' && today_info.completed" class="edit_btn" (click)="edit()"><img src="assets/images/icons/eye.png"></a>
            </div>
        </div>
    </div>
</div>
