<div class="card">
    <div class="card-header">
        <div class="card-title">
            <p>Workout Summary</p>
        </div>
        <div class="card-collapse">
            <span class="caret" data-toggle="collapse" data-target="#card-summary"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="card-body collapse in show" id="card-summary">
        <ng-container *ngFor="let item of summary.load_data.bodypartLoadDatas">
          <div  class="text-group">
              <label for="" class="group-title">{{item.bodypart}}:</label>
              <div class="group-value">
                  <p>total target volume load*<span>{{item.target}}</span></p>
              </div>
              <div class="group-value">
                  <p>total performed volume load* <span>{{item.performed}}</span></p>
              </div>
              <div [class]="'group-value ' + (item.diff < 0 ? 'difference_minus' : 'difference_plus')">
                  <p>difference <span>{{item.diff == 0 ? 0 : item.diff < 0 ? item.diff : '+' + item.diff}}</span></p>
              </div>
          </div>
        </ng-container>

        <div class="text-group boder-none">
            <div class="group-title">
              <p>
                <span>Total:</span>
                <span [class]="'total_amount ' + (summary.load_data.totalDiff < 0 ? 'minus' : 'plus') ">{{summary.load_data.totalDiff == 0 ? 0 : summary.load_data.totalDiff < 0 ? summary.load_data.totalDiff : '+' + summary.load_data.totalDiff}}</span>
              </p>
            </div>
            <div class="group-value">
                <p>*(volumeload: set * reps * load)</p>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <p>Sleep level</p>
        </div>
        <div class="card-collapse">
            <span class="caret" data-toggle="collapse" data-target="#card-sleep"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="card-body collapse in show" id="card-sleep">
        <osg-numberic-slider-purple [value]="summary.sleep_level" (change)="onChangeSleepLevel($event)"></osg-numberic-slider-purple>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <p>Energy Level</p>
        </div>
        <div class="card-collapse">
            <span class="caret" data-toggle="collapse" data-target="#card-energy"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="card-body collapse in show" id="card-energy">
        <osg-numberic-slider-orange [value]="summary.energy_level" (change)="onChangeEnergyLevel($event)"></osg-numberic-slider-orange>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <p>Stress Level</p>
        </div>
        <div class="card-collapse">
            <span class="caret" data-toggle="collapse" data-target="#card-stress"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="card-body collapse in show" id="card-stress">
        <osg-numberic-slider-red [value]="summary.stress_level" (change)="onChangeStressLevel($event)"></osg-numberic-slider-red>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <p>Injury Level</p>
        </div>
        <div class="card-collapse">
            <span class="caret" data-toggle="collapse" data-target="#card-injury"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="card-body injure-mode collapse in show" id="card-injury">
        <p>injuries?</p>
        <div class="btn-status">
            <a class="btn" [ngClass]="isAllInjurySelect() ? 'active' : ''" (click)="injureSelect()">yes</a>
            <a class="btn" [ngClass]="isAllInjuryDeselect() ? 'active': ''" (click)="injureDeselect()">no</a>
        </div>
        <div class="injure-group">
            <p>which muscle group(s)</p>
            <div *ngFor="let injury of summary.injuries; let i=index" class="injure-detail">
                <div class="text">
                    {{injury.bodypart}}
                </div>
                <div class="slider">
                    <ui-switch [(ngModel)]="injury.active" size="small"></ui-switch>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <p>Workout notes</p>
        </div>
        <div class="card-collapse">
            <span class="caret" data-toggle="collapse" data-target="#card-note"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="card-body collapse in show" id="card-note">
        <p>NOTES</p>
        <textarea placeholder="Write your notes here...." [(ngModel)]="summary.notes"></textarea>
    </div>
</div>

<button class="btn-finish" (click)="alreadyCompleted ? goBack() : finishWorkout()">{{alreadyCompleted ? 'Back' : 'Finish Workout'}}</button>
